<b>

<p>
<center>
<font size="6">
Pretrial Incarceration and Imprison Rate among Different Ethnicity in US
</font>
</center>
</p>

<p>
<center>
<font size="5">
CVS to JSON Process
</font>
</center>
</p>

<p>
<center>
<font size="3">
Visualization of Complex, Columbian College of Arts & Sciences, George Washington University
</font>
</center>
</p>

<p>
<center>
<font size="3">
Author: Voratham Tiabrat
</font>
</center>
</p>

</b>

In [2]:
#Clean Data 
import pandas as pd 
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [3]:
#import all dataset
Population2018 = pd.read_csv('./Data/Population Data/Population2018.csv')
Population2018 = Population2018.rename(columns={"Unnamed: 0": "RACE","Number": "SUM"})
Pretrial_Sum_Race_Gender = pd.read_csv('./Data/Pretrial Data/Pretrial_Sum_Race_Gender.csv')
Pretrial_Sum_Race_Gender = Pretrial_Sum_Race_Gender.rename(columns={"0": "SUM"})

In [20]:
Population2018

           RACE        SUM
0         Total  330362592
1          Male  162638566
2        Female  167724026
3         White  197064732
4         Black   40310242
5  American IND    2180266
6         Asian   18195260
7         Other    9694444
8      Hispanic   62917648

In [4]:
Pretrial_Sum_Race_Gender

       RACE GENDER   SUM
0  AMER IND      F     7
1  AMER IND      M    43
2     ASIAN      F    23
3     ASIAN      M    97
4     BLACK      F   643
5     BLACK      M  5068
6  HISPANIC      F   431
7  HISPANIC      M  3710
8     WHITE      F  1436
9     WHITE      M  4676

In [5]:
Population2018.to_json('Population2018.json', orient='records', lines=True)
Pretrial_Sum_Race_Gender.to_json('Pretrial_Sum_Race_Gender.json', orient='records', lines=True)